@use "./base/clearDefault.scss" as *;
@use "./base/colors.scss" as *;
@use "./base/mixins.scss" as *;
@use "./base/typography.scss" as *;

@import "~bootstrap";
$theme-colors: (
  "primary": $primary-100,
  "secondary": $accent-100
);

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font;
}

body {
  background-color: $bg-100;
  color: $text-200;
}

footer {
  background-color: black;
  color: darkseagreen;
  text-align: center;
  padding: 0.5rem;
}

main {
  flex-grow: 1;
}

header img {
  height: 4rem;
}
